:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;

}

header nav a:hover{
    color: #969191;
}

/*clip principal*/
.clip-principal{
    font-size: 15px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,100%)), url('/img/banner.JPG');

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;

}

.clip-principal .descricao{
    margin-top: 10px;
    margin-bottom: 50px;  
    font-size: 17px; 
}

.texto-escondido{
    display: none;
}

.container:hover .texto-escondido{
    display: block;
}

.clip-principal .titulo{
    margin-top: 7%;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
}

.botao{
    background-color: rgba(0,0,0,50%);
    border: none;
    color: wheat;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;

    cursor: pointer;
    transition: .4s ease all;
    text-decoration: none;    
   
}

.botao:hover{
    background-color: white;
    color: black;     
    
}


.botao i{
    margin-right: 7px;
}

.container{
    margin-left: 20px;
}

.clip-principal .container{
    width: 70%;
}

.box-clip{
    height: 350px;
    margin-top: 10px;

    border-radius: 10%;
    box-shadow: inset 0 0 20px 20px white;
      
    
}

.carroseL-clip{
    margin-top: 5px;     
}

.carroseL-clip .item a{
    text-decoration: none;
}








